<header class="header">
    <nav class="navbar">
        <div class="logo">ECOMME</div>
        <div class="search-bar">
            <input id="searchInput" type="text" placeholder="Search...">
        </div>
        <ul class="menu">
            <li><a href="./">Home</a></li>
            <li><a href="./products.html">Products</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a href="./contact.html">Contact</a></li>
        </ul>
        <div id="user-cart" class="user-cart">
            <div class="user-icon">👤
                <div class="user-popup">
                    <ul>
                        <li><a href="./profile.html">Profile</a></li>
                        <li><a href="./orders.html">Orders</a></li>
                        <li><a onclick="logout()">Logout</a></li>
                    </ul>
                </div>
            </div>
            <a href="./cart.html"><div class="cart-icon">🛒 <span id="cartCount">0</span></div></a>
        </div>
        <div class="hamburger">☰</div>
        <div id="login-btn" class="login-btn"> 
            <a href="./login.html"><button class="login-btn" id="login-btn"> Login</button></a>
        </div>
    </nav>
</header>

